# H1: Data Science Tool and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++
4. Java

# Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. TenserFlow
4. Mat


| Data Science Tools|
|-------------------|
|    RStudio        |
|  Apache Spark     | 
|  TenserFlow       |
|  Apache Hadoop    |

### H3:Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
int(200 / 60)

3

# List popular languages for Data Science
***objectives***
- python
- java
- R
- c++

## H2:Author
Nisha